* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: inline;
    background-color: white;
}

head{
    display: flex;
    width: 100%;
}

header {
    padding: 0;
    width: 100%
}

nav {
    padding: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding: 5px;
}

section {
    align-items: center;
    padding: 0;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: turquoise;
}

.logo {
    max-height: 50px;
}


.content {
    width: 100%;
    background-color: white;
    display: fixed;
    gap: 10px;
    padding: 10px 40px;
    padding-top: 3%;
    border-radius: 10px;
}

.hangman-box {
    padding: 0;
}

.hangman-box img {
    max-width: 270px;
}

.hangman-box h1 {
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.word-display .letter {
    width: 28px;
    border-bottom: 3px solid black;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 250px;
}

.game-box {
    list-style: none;
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}

.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.keyboard {
    max-width: 600px;
    padding-left: 40px;
}

.keyboard button {
    width: calc(100% / 9 - 5px);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    background-color: whitesmoke;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    padding: 7px;
    border: none;
}

.keyboard button:disabled {
    background-color: gray;
}

.keyboard button:hover {
    background-color: turquoise;
}

.keyboard button:active {
    transform: scale(0.98);
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: gray;
    display: fixed;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
    padding-top: 150px;
}

.game-modal img {
    max-width: 300px;
    margin-bottom: 20px;
}

.game-modal.show {
    opacity: 1;
    pointer-events: auto;
}

.game-modal .content {
    color: white;
    max-width: 80%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: gray;
    padding: 30px;
}

.game-modal h4 {
    font-size: 2.25rem;
}

.game-modal p {
    font-size: 1.5rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-box p b {
    color: black;
    font-weight: 600;
}

.game-modal button {
    padding: 12px 23px;
    background-color: whitesmoke;
    font-size: 1;
}

.game-modal button:hover {
    background-color: turquoise
}

.game-modal button:active {
    transform: scale(0.98);
}

@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 10px 15px;
        align-items: center;
    }
    .hangman-box img {
        max-width: 200px;
    }
    .hangman-box h1 {
        display: none;
    }
}

.game-area {
    width: 80%;
    display: fixed;
    padding: 0;
}

.guesses-text {
    padding-left: 15px;
}