<!DOCTYPE html>

<html>
    <head>
        <!--Tab Name-->
        <title>Hang-Ten</title>

        <!--style sheet reference-->
        <link href="/client/src/components/Games.css" rel="stylesheet">
        <script src="/client/src/components/testwords.js" defer></script>
        <script src="/client/src/components/Games.js" defer></script>
        

    </head>

    <body>
        <header>
            <div className="logo">
                <a href="/client/src/components/index.html"><img src="/client/src/components/GameImages/Logo.png"></a>
            </div>
        </header>

        <nav className="Nav-buttons">
            <ul class="nav_links">
                <li><a href="/client/src/components/userlogin.html">Login</a></li>
                <li><a href="/client/src/components/createaccount.html">Create Account</a></li>
                <li><a href="#">How to Play</a></li>
            </ul>
        </nav>

        <section>   
            <div class="game-area">
                <div class="game-modal">
                    <div class="content">
                        <img src="/client/src/components/GameImages/ripwhite.gif" alt="gif">
                        <h4>GAME OVER!</h4>
                        <p>The correct answer was: <b>gsasd</b></p>
                        <button href="/client/src/components/WordGame.html" class="play-again">Play Again</button>
                        <!--<button href="/client/src/components/Homepage.html" class="play-new">Play A Different Game</button>-->
                    </div>
                </div>        

                <div class="game-box">
                    <div class="content">
                        <div class="hangman-box">
                            <img src="/client/src/components/GameImages/empty.png">
                        </div>
                    </div>

                    <h4 class="guesses-text">
                        Incorrect guesses:
                        <b>0 / 10</b>
                    </h4>

                    <ul class="word-display"></ul>
                
                    <div class="keyboard"></div>
                </div>
            </div>
        </section> 
    </body>
</html>